<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url(/static/css/style.css);
        @import url(/static/css/header.css);
    </style>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100;700;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header_wrapper">
        <div class="header">
            <img src="/static/img/icon/icon.png" width="30" height="30" alt="icon" style="margin-left: 20px;">

            <div class="title_language">
                <span class="title_language_1"><%= language %></span>
                <span><%= name %></span>
            </div>
            <span id="header_percent">0%</span>
        </div>
        <div class="header_progress_wrapper">
            <div id="header_progress">
            </div>
        </div>
    </div>
    <div class="world_wrap">
        <div class="word">
        </div>
    </div>
    <div class="info">
        <span class="timer_title">타이머</span>
        <span id="timer_value">00:00</span>
        <span class="ota_title">오타</span>
        <span id="ota_value">0개</span>
        <span class="keyboard_title">입력할 단어</span>
        <span id="now_code" class="keyboard"></span>
    </div>
    <script type="text/javascript" src="/static/js/timer.js"></script>
    <script>
        var codeText = `<%= data %>`;
        var codeName = `<%= name %>`;
        codeText = codeText.replace(/&#34;/g, '"');
    </script>
    <script type="text/javascript" src="/static/js/handleText.js"></script>
</body>

</html>