<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url(/static/css/home.css);
        @import url(/static/css/homeMediaQuery.css);
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&display=swap" rel="stylesheet">
    <script>
        window.scrollBy(0,110)
    </script>
</head>

<body>
    <div class="content_wrap_1">
        <footer>
            <img src="/static/img/icon/mainicon.png" class="footer_icon">
            <span class="service_title">Tajaco.de</span>
        </footer>
        <div class="wrap">
            <div class="title_wrap">
                <span class="title_1">개발자</span>
                <span class="title_2">를 위한</span>
                <br>
                <span class="title_3">타자 연습</span>
                <br>
                <button class="start_button" onclick="location.href='/list'">지금 시작하기</button>
            </div>
            <div class="content_1_wrap_img">
                <img src="/static/img/background/taja.png" class="content_top_img">
            </div>
        </div>
    </div>

    <script>
        window.scrollBy(0,110)
    </script>
</html>