<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url(/static/css/home.css);
        @import url(/static/css/homeMediaQuery.css);
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="content_wrap_1">
        <footer>
            <img src="/static/img/icon/mainicon.png" class="footer_icon">
            <span class="service_title">Tajaco.de</span>
        </footer>
        <div class="wrap">
            <div class="title_wrap">
                <span class="title_1">개발자</span>
                <span class="title_2">를 위한</span>
                <br>
                <span class="title_3">타자 연습</span>
                <br>
                <button class="start_button">지금 시작하기</button>
            </div>
            <div class="content_1_wrap_img">
                <img src="/static/img/background/taja.png" class="content_top_img">
            </div>
        </div>
    </div>
    <!-- <div class="title_img">
        <img src="/static/img/icon/code.png" class="title_img_icon">
    </div> -->

    <div class="content_wrap_2">
        <div class="title_wrap2">
            <span class="content_wrap_2_title">원하는 언어로<br></span>
            <span class="content_wrap_2_title">연습을 해보세요</span>
            <span class="content_wrap_2_subtitle">tajaco.de에선 터미널 명령어부터 <br>어셈블리어까지 지원을 할 예정입니다</span>
        </div>
        <img src="/static/img/background/lan_list.png" class="content_main_img">
    </div>
    <div class="content_wrap_3">
        <div class="title_wrap2">
            <span class="content_wrap_3_title">내 코드를 다른사람과<br></span>
            <span class="content_wrap_3_title">연습하세요</span>
            <span class="content_wrap_3_subtitle">내 입 맛대로 코드를 추가해<br>다른사람과 즐기세요</span>
        </div>
        <img src="/static/img/background/upload.png"  class="content_main_img2">
    </div>
</body>

    <script>
        window.scrollBy(0,110)
    </script>
</html>