<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url(/static/css/list.css);
    </style>
</head>
<body>
    <header>
        <div class="header">
                <img src="/static/img/icon/icon.png" width="33" height="33" alt="icon" style="margin-left: 15px;">
                <span class="title_language_2">
                    언어를 선택해주세요
                </span>
        </div>
    </header>
    <div class="content">
    </div>
    <script>
        var json = `<%= json %>`;
    </script>
    <script type="text/javascript" src="/static/js/handleLanguageList.js"></script>
</body>
</html>