@media (max-width: 760px) {
    .wrap {
        margin-top: 5%;
    }

    .title_1 {
        font-size: 3.4rem
    }
    .title_2 {
        font-size: 3.4rem
    }
    .title_3 {
        font-size: 3.4rem
    }

    .start_button {
        font-size: 1rem;
        width: 170px;
    }
    .content_1_wrap_img {
        width: 80%;
    }

    .content_main_img {
        margin: 0px 0px 40px 0px;
    }
    .content_main_img2 {
        width: 40%;
        margin: 0px 0px 40px 0px;
    }
}

@media (min-width: 760px) and (max-width: 800px) {
    .wrap {
        margin-top: 50px;
    }
    .title_1 {
        font-size: 3.5rem;
    }
    .title_2 {
        font-size: 3.5rem;
    }
    .title_3 {
        font-size: 3.5rem;
    }

    .start_button {
        font-size: 1rem;
        width: 170px;
    }
    .content_1_wrap_img {
        width: 500px;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .title_1 {
        font-size: 3.5rem;
    }
    .title_2 {
        font-size: 3.5rem;
    }
    .title_3 {
        font-size: 3.5rem;
    }

    .start_button {
        font-size: 1.2rem;
        width: 200px;
    }
    .content_1_wrap_img {
        width: 600px;
    }
}


@media (min-width: 1000px) {
    .title_1 {
        font-size: 4rem;
    }
    .title_2 {
        font-size: 3.8rem;
    }
    .title_3 {
        font-size: 3.8rem;
    }

    .start_button {
        font-size: 1.2rem;
        width: 200px;
    }
    .content_1_wrap_img {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .title_1 {
        font-size: 4rem;
    }
    .title_2 {
        font-size: 3.8rem;
    }
    .title_3 {
        font-size: 3.8rem;
    }

    .start_button {
        font-size: 1.2rem;
        width: 200px;
    }
    .content_1_wrap_img {
        width: 600px;
    }
}