body {
    margin: 0px;
    display: flex;
    overflow: hidden;
}

body[data-theme="dark"] {
    background-color: #0D1117;
}

/* 단어 div */
.word {
    height: 90vh;
    width: 70vw;
    align-items: center;
    font-family: Hack, monospace;
    font-weight: 100;
    padding: 60px 15px 60px 15px;
    line-height: 1.5em;
    overflow-y: auto;
}

.word>span {
    font-size: 14px;
}

.world_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
}

.info {
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px solid #E5E6E8;
    min-width: 220px;
}

.info[data-theme="dark"] {
    border: 1.5px solid #30363d;
}


#timer_value {
    font-size: 2.5em;
    font-weight: 900;
    color: rgb(31, 92, 225);
}

.timer_title {
    padding: 5px 25px 5px 25px;
    font-weight: 900;
    border-radius: 20px;
    background-color: rgba(181, 220, 255, 0.728);
    color: rgb(31, 92, 225);
}

.timer_title[data-theme="dark"] {
    background-color: #1792fe57;
    color: #67b8ff;
}

    
.dark {
    width: 100%;
}

#ota_value {
    font-size: 2.5em;
    font-weight: 900;
    color: rgb(255, 70, 70);
}

.ota_title {
    padding: 5px 25px 5px 25px;
    font-weight: 900;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.239);
    color: rgb(255, 27, 27);
    margin-top: 40px;
}

.keyboard_title {
    padding: 5px 25px 5px 25px;
    font-weight: 900;
    border-radius: 20px;
    background-color: rgba(175, 175, 175, 0.239);
    color: rgb(154, 153, 153);
    margin-top: 30px;
}

.not {
    color: rgba(137, 133, 133, 0.728);
    background-color: rgba(255, 255, 255, 0);
}

.notnowcode {
    color: rgba(137, 133, 133, 0.728);
    background-color: rgba(181, 220, 255, 0.728);
}

.clear {
    color: #383F45;
    font-weight: 700;
}

.keyboard {
    background-color: rgba(175, 175, 175, 0.239);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px rgb(154, 153, 153);
    font-family: Hack, monospace;
    font-size: 30px;
    color: rgb(154, 153, 153);
    margin-top: 15px;
}

.keyboard[data-theme="dark"] {
    background-color: rgb(154, 153, 153);
    box-shadow: 0px 5px 0px #34373B;
    color: #34373B;
}


.this_info {
    width: 100%;
    height: 30px;
    background-color: #f00;
    position: position;
    top: 0px;
}

.endDiv_wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.endDiv {
    background-color: #fff;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid #D4D4D4;
    box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.251);
}

.endDiv_list {
    margin-top: 10px;
}

.endDiv_title {
    width: 100%;
    background-color: rgb(14, 98, 225);
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    color: #fff;
    transform: rotate(1deg);
}

.endDiv_title2 {
    font-weight: 700;
    font-size: 35px;
    color: rgb(161, 161, 161);
    transform: rotate(1deg);
    margin-top: 10px;
    margin-bottom: 5px;
}

.endDiv_list_1, .endDiv_list_2, .endDiv_list_3, .endDiv_list_4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.endDiv_list_4_title,.endDiv_list_3_title,.endDiv_list_2_title,.endDiv_list_1_title {
    color: rgb(75, 75, 75);
    font-weight: 900;
    font-size: 20px;
    margin-right: 80px;
}

#endDiv_list_1_value, #endDiv_list_2_value, #endDiv_list_3_value, #endDiv_list_4_value {
    font-size: 20px;
    color: #c5c5c6;
}

.togle_thema_icon {
    position: absolute;
    bottom: 50px;
    right: 10px;
}